/** Color scheme */

/** 
* dark-blue: #143142;
* dark-blue hover: #234e67;
* darker-blue: #0c202b;
* light-blue: #4eb8a2;
* lighter-blue: #b3eade;
* light-red: #ff7c7c;
* greenish-white: #d8ffdb;
*/

.edit-form {
    background-color: #4eb8a2;
    z-index: 1000;
    width: 60%;
    margin: 0 auto;
    position: absolute;
    top: 2%;
    left: 20%;
    padding: 5% 5% 0;
    box-sizing: border-box;
    overflow: auto;

    display: none;
}

.edit-form input, .edit-form select {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    box-sizing: border-box;
    padding: 5px;
    height: 50px;
    font-size: 20px;
    border-color: transparent;
}
.edit-form input[type="radio"] {
	width: auto;
	display: inline;
	height: auto;
}
#form-overlay {
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;

    display: none;
}

.edit-form .input-wrapper {
    margin: 0 1%;
    box-sizing: border-box;
    z-index: 20;
}

.edit-form .input-wrapper.full {
    width: 98%;
    clear: left;
}

.edit-form .input-wrapper.three-quarter {
    width: 73%;
    float: left;
    clear: right;
}
.edit-form .input-wrapper.one-quarter {
    width: calc((100% / 4) * 1 - 2%);
    float: left;
    clear: right;
}

.edit-form .input-wrapper.two-thirds {
    width: calc((100% / 3) * 2 - 2%);
    float: left;
    clear: right;
}

.edit-form .input-wrapper.half {
    width: 48%;
    float: left;
    clear: right;
}

.edit-form .input-wrapper.one-third {
    width: calc(100% / 3 - 2%);
    float: left;
    clear: right;
}

.edit-form .input-wrapper.quarter {
    width: 23%;
    float: left;
    clear: right;
}



.edit-form input.error {
    background-color: #ff7c7c;
}

.edit-form input[name=form-submit] {
    background-color: #143142;
    color: white;
}

.edit-form input[name=form-submit]:hover {
    background-color: #234e67;
    cursor: pointer;
}

.edit-form .close-form {
    /**
    background-image: url(../img/link_icon.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    */

    background-color: #143142;
    -webkit-mask-image: url(../img/delete_icon.svg);
    -webkit-mask-size: 30px 30px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    mask-image: url(../img/delete_icon.svg);
    mask-size: 30px 30px;
    mask-repeat: no-repeat;
    mask-position: center;

    height: 30px;
    width: 30px;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 20;
}
.modal.formular {
	position: absolute;
	padding: 20px;
	background: #4eb8a2;
	color: black;
	width: 400px;
	left: 0;
	top: 0;
	right: 0;
	margin: auto;
}
.modal.formular table {
	width: 100%;
}
.modal.formular table input {
	width: 100%;
	padding: 5px;
}
.edit-form .close-form:hover {
    background-color: #143142;
}
.modal {
	display: none;
}
