/** Color scheme */

/** 
* dark-blue: #143142;
* dark-blue hover: #234e67;
* darker-blue: #0c202b;
* light-blue: #4eb8a2;
* lighter-blue: #b3eade;
* light-red: #ff7c7c;
* greenish-white: #d8ffdb;
*/


/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(./Font/Raleway.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(./Font/Raleway.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


body, html {
	min-height: 100%;
	height: 100%;
	margin: 0;
    padding: 0;
	text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    font-family: 'Raleway', sans-serif;
    color: white;
}
section, div {
	position: relative;
}
main.width-90 {
	float: left;
	clear: right;
	width: 90%;
}

input, textarea, button {
    font-family: 'Raleway', sans-serif;
}

body {
	background-color: #143142;
}

header {
	margin-bottom: 55px;
}

header.main-header {
	border-bottom: 1px solid #0c202b;
}

header, h1, h2, h3, h4, h5, h6 {
	color: white;
	text-align: center;
}

header.main-header h1,
header.main-header h2,
header.main-header h3 {
	margin-bottom: 5px;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
    color: white;
}

nav#menu {
	background-color: black;
	float: left;
	clear: right;
	height: 100%;
	padding: 1%;
	box-sizing: border-box;
	width: 10%;
}

@media screen and (min-width: 640px) and (max-width: 1080px) {
    nav#menu {
		width: 15%;
    }

    main.width-90 {
		width: 85%;
    }
}

@media screen and (max-width: 639px) {
	nav#menu {
		width: 20%;
    }

    main.width-90 {
		width: 80%;
    }
}

nav#menu li {
	margin-left: 5px;
	word-break: break-all;
}

nav#menu li:first-child {
	margin-left: 0;
}

nav#menu li.Artikelkategorien {
	margin-left: 10px;
}

nav#menu .active {
	color: #4eb8a2;
}

nav#menu .toggle-nav {

}

.hubs {
	margin: 0 15%;
}

.hubs .hub {
	width: 50%;
    box-sizing: border-box;
    height: 225px;
    padding: 0 7%;
    float: left;
    clear: right;
    margin-bottom: 20px;
}

.hub:nth-child(3), 
.hub:nth-child(4){
	margin-bottom: 0;
}

.hubs .hub .hub-wrapper {
	background-color: #4eb8a2;
	box-sizing: border-box;
	/*border-radius: 20px;*/
	padding: 20px 7%;
	height: 100%;	
}


.hubs header {
	margin: 0;
    padding: 15px;
    background-color: white;
    background-color: #d8ffdb;
    /*border-radius: 5px;*/
}

.hubs header h4 {
	color: #143142;
    margin: 2% 0;
    font-size: 2em;
}

.hubs ul {
	padding: 0 5%;
}

.hubs li {
	background-color: #143142;
	/*border-radius: 5px;*/
	font-size: 20px;
	box-sizing: border-box;
	padding: 5px;
	margin-bottom: 20px;
}

.hubs li a {
    height: 100%;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.hubs li:hover {
	background-color: #234e67;
	cursor: pointer;
}
.color-rippling-container, svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
circle {
  fill: rgba(25,25,25,0.2);
}
.low {
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
	z-index: 10;
	position: relative;
}
.high {
	box-shadow: 0 7px 13px 0 rgba(0,0,0,0.37);
	z-index: 20;
	transition: box-shadow ease-in-out .5s;
	position: relative;
}
.alertbox {
	width: 315px;
	margin: 28px auto;
	padding: 20px;
	background: rgba(209,81,80, 0.9);
	color: white;
}
.alertbox.bottom {
	animation-name: "appear-from-bottom";
	animation-duration: 1s;
}
@-webkit-keyframes appear-from-bottom {
    0%   { -webkit-transform: translateY(250px);opacity: 0;}
}
@keyframes appear-from-bottom {
    0%   { transform: translateY(250px);opacity: 0;}
}
.vertical-center {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 40px;
	width: 100px;
}
.maincontent {
	padding: 10px 5%;
}
button.btn {
	color: white;
	background: #4eb8a2;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
}
button.btn.buy {
	background: #143142;
	width: 100%;
}
.colorpreview {
	display: block;
	border: 1px solid #ececec;
	width: 25px;
	height: 25px;
	margin: auto;
}


/** WARENKORB & PRODUKTE */
#kasse-wrapper {
	padding: 0 5%;
}
#products {
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#products .produkt_item {
	height: 100px;
	width: 100px;
	display: inline-block;
	padding: 25px;
	overflow: hidden;
	cursor: pointer;
}

#kasse-wrapper .kasse {
	margin: 0 1%;
	padding: 1%;
	background-color: #4eb8a2;
	float: left;
	clear: right;
	box-sizing: border-box;
}

#products {
	width: 58%;
}

#warenkorb {
	width: 38%;
	z-index: 501;
}

#warenkorb h2 {
	background-color: transparent;
}

#warenkorb #warenkorbtable {
	width: 100%;
	background-color: #d8ffdb;
	color: #143142;
}

#warenkorb #warenkorbtable,
#warenkorb #warenkorbtable tr,
#warenkorb #warenkorbtable td,
#warenkorb #warenkorbtable th {
	color: #143142;
    border-collapse: collapse;
    background-color: #d8ffdb;
    position: relative;
}

#warenkorb #warenkorbtable thead tr th {
	background-color: #143142;
	color: #ffffff;
	padding: 5px;
    font-size: 20px;
}

#warenkorb #warenkorbtable tbody tr:nth-child(odd) td {
	background-color: #b3eade;
}

#warenkorb #warenkorbtable tbody tr td:nth-child(4) {
	text-align: right;
	padding: 5px;
    font-size: 20px;
	
}

#warenkorb #warenkorbtable tfoot tr td {
	background-color: #143142;
	color: #ffffff;
	padding: 5px;
    font-size: 20px;
}

#warenkorb #warenkorbtable tfoot tr td:nth-child(2) {
	text-align: right;
}

#warenkorb button {
	background-color: #143142;
	width: 100%;
}

#warenkorb button:nth-of-type(1) {
	margin-top: 5%;
}

#warenkorb .delete  {
	-webkit-mask-image: url(../img/delete_icon.svg);
	mask-image: url(../img/delete_icon.svg);
    background-color: #ff7c7c;
}

#warenkorb .delete  {

    -webkit-mask-size: 15px 15px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    mask-size: 15px 15px;
    mask-repeat: no-repeat;
    mask-position: center;

    height: 15px;
    width: 100%;
    display: block;
}

/** WARENKORB */


#lieferungdialog {
	left: 0;
	width: 100%;
}
#lieferungdialog .clientsection.new {
	display: none;
}
.clientsection .edit-form {
	display: block;
	position: relative;
	margin: 0;
	left: 0;
	width: 100%;
}
.versand-tr {
	display: none;
    -moz-text-decoration-color: white;
    text-decoration-color: white;
}