/** Color scheme */

/** 
* dark-blue: #143142;
* dark-blue hover: #234e67;
* darker-blue: #0c202b;
* light-blue: #4eb8a2;
* lighter-blue: #b3eade;
* light-red: #ff7c7c;
* greenish-white: #d8ffdb;
*/

#userLogin {
	width: 675px;
	height: 315px;
	/*border-radius: 20px;*/
	margin: 120px auto 0;
	padding: 20px;
	box-sizing: border-box;
	background-color: #4eb8a2;
	
}

#userLogin form {
	height: 100%;
	box-sizing: border-box;
	padding-top: 40px;
}

#userLogin form input,#userLogin form button  {
	display: block;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 40px;
	box-sizing: border-box;
	padding: 5px;
	height: 50px;
	/*border-radius: 5px;*/
	font-size: 20px;
	border-color: transparent;
}

#userLogin form button.error {
	background-color: #ff7c7c;
}

#userLogin form button {
	background-color: #143142;
	color: white;
	margin-bottom: 0;
}

#userLogin form button:hover {
	background-color: #234e67;
	cursor: pointer;
}