/** Color scheme */

/** 
* dark-blue: #143142;
* dark-blue hover: #234e67;
* darker-blue: #0c202b;
* light-blue: #4eb8a2;
* lighter-blue: #b3eade;
* light-red: #ff7c7c;
* greenish-white: #d8ffdb;
*/

.view {
	margin-top: 25px;
	width: 100%;
}

.view,
.view tr,
.view td,
.view th {
	color: #143142;
    border-collapse: collapse;
    background-color: #d8ffdb;
    position: relative;
    text-align: center;
}

.view th,
.view td {
	padding: 5px;
}

.view-single:nth-child(even) td {
	background-color: #b3eade;
}

.view .sort {

	background-color: #143142;
    -webkit-mask-image: url(../img/arrows.png);
    -webkit-mask-size: 16px 16px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 0px 0px;

	mask-image: url(../img/arrows.png);
    mask-size: 16px 16px;
    mask-repeat: no-repeat;
    mask-position: 0px 0px;

    height: 8px;
    width: 16px;
    display: inline-block;
    cursor: pointer;
}

.view th[data-name] {
	cursor: pointer;

	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.view .sort.asc {
	-webkit-mask-position: 0px -8px;
	mask-position: 0px -8px;
}

.view .sort.desc {
	-webkit-mask-position: 0px 0px;
	mask-position: 0px 0px;
}

.view .sorted {
	background-color: #4eb8a2;
}

.view .link_orders:hover,
.view .edit:hover,
.view .delete:hover {
	background-color: #4eb8a2;
}

.view td a.link_orders {
	-webkit-mask-image: url(../img/link_icon.svg);
	mask-image: url(../img/link_icon.svg);
    background-color: #143142;
}
.view td a.edit {
	-webkit-mask-image: url(../img/edit_icon.svg);
	mask-image: url(../img/edit_icon.svg);
    background-color: #143142;
}
.view td a.delete {
	-webkit-mask-image: url(../img/delete_icon.svg);
	mask-image: url(../img/delete_icon.svg);
    background-color: #ff7c7c;
}


.view td a.link_orders,
.view td a.edit,
.view td a.delete {

	/**
    background-image: url(../img/link_icon.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    */

    -webkit-mask-size: 15px 15px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;

    mask-size: 15px 15px;
    mask-repeat: no-repeat;
    mask-position: center;

    height: 15px;
    width: 100%;
    display: block;
}